@charset "UTF-8";


/* Zera margens padrão do navegador */
* {
    margin: 0;
    padding: 0;
}


/* Edição da cor de fundo do site */
body {
    background-image: url(imagens/fundo.webp); /* imagem de fundo do site */
}


/* Edição do cabeçalho */
header {
    display: flex; /* usando flexbox para organizar os conteúdos do cabeçalho */
    max-width: 100%; /* garante que não passa da largura da tela */
    justify-content: space-between; /* espaço entre o logo a esquerda e redes sociais a direita */
    align-items: center; /* centraliza verticalmente */
    background-color: rgba(112, 26, 15); /* cor de fundo do menu */
    border-bottom: 1px solid rgb(243, 216, 149); /* linha na borda baixa */
}


/* Logotipo do restaurante */
header img {
    margin: 20px; /* espaço em volta da imagem */
    width: 110px; /* largura da imagem*/
    height: 95px; /* altura da imagem */
}


/* Menu de Navegação */
nav {
    text-align: center; /* centraliza o texto dos links */
    font-size: 25px; /* tamanho da fonte */
    width: 54%; /* largura do menu */
    box-sizing: border-box; /* inclui padding e borda na largura */
    margin: auto; /* centraliza horizontalmente */
}


/* Edição dos links do Menu de Navegação */
nav a {
    font-family: Arial, Helvetica, sans-serif; /* fonte do texto dos links */
    font-weight: bolder; /* espessura da fonte (negrito) */
    color: rgb(243, 216, 149); /* cor da fonte */
    text-decoration: none; /* remove sublinhado */
    padding: 5px 8px; /* espaçamento interno */
    border: 0.1px solid transparent; /* borda invisível (para não mexer o layout no hover */
    transition: all 0.3s ease; /* animação suave ao passar o mouse */
    display: inline-block; /* permite padding funcionar corretamente */
}


/* Faz um estilo ao passar o mouse no Menu de Navegação */
nav a:hover {
    border-color: rgba(237, 205, 126, 0.884);
    background-color: #2c1a13;
    border: 0.1px solid;
}


/* Ajuste do espaçamento das imagens dos contatos de redes sociais */
.redes-sociais {
    display: flex;
    margin-right: 20px;
    align-items: center;
    gap: 17px;
}

/* Ajuste do tamanho das imagens dos contatos de redes sociais */
.imagem-redes-sociais {
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid rgba(237, 205, 126, 0.829);
    border-radius: 6px;
}


/* Ajuste de onde está o conteúdo principal da página */
main {
    display: flex;
}


/* Container onde está inserido a imagem e a frase principal */
.container-banner {
    display: flex; /* ativa flexbox */
    align-items: center; /* alinha ao centro verticalmente */
    justify-content: space-between; /* espaço entre imagem e texto */
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 40px;
    gap: 2px; /* espaço entre imagem e frase */
}


/* Ajuste do tamanho da imagem do banner */
.imagem-banner img {
    max-width: 800px; /* controla largura da imagem */
    height: 650px;
}


/* Ajuste da caixa da frase principal */
.frase-banner {
    max-width: 600px;
    color: rgb(243, 216, 149);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* sombra escura */
    flex: 1;
    margin-left: 10px;
    margin-right: 90px;
}


/* Ajuste da frase principal */
.frase-banner h1 {
    font-family: "Dancing Script";
    text-align: center;
    font-size: 7rem;
}



/* Ajuste da caixa dos títulos h2 - linha de churrascos, de hamburguer, chefs e etc */
.sub-titulos-h2 {
    display: flex;
    font-family: "Dancing Script";
    color: rgb(243, 216, 149);
    background-color: rgba(112, 26, 15);
    border-top: 1px solid rgba(237, 205, 126, 0.829);
    border-bottom: 1px solid rgba(237, 205, 126, 0.829);
    /*border-radius: 150px 0 150px 0;*/
    justify-content: center; /* centraliza o texto na horizontal */
    text-align: center; /* se o texto quebrar em duas linhas, continua centralizado */
    /*width: 40%;*/
    margin: auto;
    margin-top: 60px;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 15px 70px;
}


article {
    margin: 10px;
    margin-top: 50px;
}



/* Container de cada prato */
.container-prato {
    display: flex; /* ativa o flexbox */
    flex-direction: row;
    gap: 60px; /* espaço entre o a foto e a descrição */ 
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    align-items: center; /*centraliza verticalmente o texto e nome do prato com a foto */
    /*border: 2px solid yellow;*/
}

/* Imagem dos pratos do cardápio */
.container-prato img {
    width: 335px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(237, 205, 126, 0.829);
}

/* Edição dos nomes dos pratos em h3 */
.nome-pratos {
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    background-color: rgba(112, 26, 15);
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(237, 205, 126, 0.829);
    font-size: 35px;
}

/* Edição da descrição dos pratos */
.descricao-dos-pratos {
    font-size: 30px;
    color: rgba(237, 205, 126, 0.829);
    background-color: #2c1a1383;
    border-radius: 0 0 10px 10px;
    padding: 4px;
}













/* Título do main - "Nossa História" em h1 
.titulo-historia-restaurante {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(112, 26, 15);
    border-radius: 50px 10px 50px 10px;
    border: 1px solid rgba(237, 205, 126, 0.829);
}*/








/* Nome dos Chef's em h3 */
.nome-chef {
    display: flex;
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
    background-color: rgba(112, 26, 15);
    border-radius: 10px;
    border: 1px solid rgba(237, 205, 126, 0.829);
    width: 25%;
    align-items: center;
    justify-content: center;
}

/* Biografia Chef 1 - Churrasco */
.biografia_chef {
    text-align: justify;
    color: rgba(237, 205, 126, 0.829);
    font-size: 1.8em;
    background-color: #2c1a13;
    border-radius: 10px;
    padding: 9px;
    margin: auto;
    margin-top: 15px;
    width: 70%;
}

/* Edição imagem dos Chef's */
.imagem-chef {
    display: block;
    margin: 20px auto;
    margin-top: 60px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(237, 205, 126, 0.829);
}











/* Faz uma rolagem suave ao clicar nos links do menu */
html {
    scroll-behavior: smooth;
}






/* Nome dos campos para reserva */
/*.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bolder;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 25px;
}*/

/* Tamanho do campo onde será digitado as informações para reserva */
/*.campoDigito {
    min-width: 100px;
    max-width:200px;
}*/

/* Botão para realizar a reserva 
.botao {
    background-color: rgba(112, 26, 15);
    color: rgba(237, 205, 126, 0.829);
    border: 1px solid rgba(237, 205, 126, 0.829);
    border-radius: 10px;

    margin-right: 650px;
    margin-top: 10px;
}*/












.cor-texto-contatos {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(237, 205, 126, 0.829);
    margin: 6px;
}



.teste {
    border-radius: 50%;
    max-width: 300px;
    border: 3px solid rgba(237, 205, 126, 0.829);
}