@charset "UTF-8";


/* Zera margens padrão do navegador */
* {
    margin: 0px;
    padding: 0px;
}










/* Edição da cor de fundo do site */
body {
    background-image: url(imagens/fundo.webp);
    /*background-color: #2c1a13;*/
}











/* Edição do cabeçalho */
header {
    margin: 1px;
    max-width: 99%;
    /*border: 5px solid yellow;*/
    justify-content: space-between;
    align-items: center;
    /*background-color: rgba(112, 26, 15);*/
    display: flex;
    /*border-bottom: 2px solid rgba(237, 205, 126, 0.884);*/
}

/* Logotipo do restaurante */
header img {
    margin: 20px;
    width: 180px;
    height: 110px;
}





/* Menu de Navegação */
nav {
    text-align: center;
    font-size: 25px;
    /*border: 2px solid yellow;*/
    width: 70%; /* ocupa toda a largura da tela */
    box-sizing: border-box;
    margin: auto;
}

/* Edição dos links do Menu de Navegação */
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px 12px;
    text-decoration: none;

    color: rgba(237, 205, 126, 0.884);
    border: 0.1px solid transparent;
    transition: all 0.3s ease;
    display: inline-block;
}

/* Faz um estilo ao passar o mouse no Menu de Navegação */
nav a:hover {
    background-color: #2c1a13;
    border: 0.1px solid;
    border-color: rgba(237, 205, 126, 0.884);
}


.redes-sociais {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Edição da imagem dos contatos */
.imagem-redes-sociais {
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid rgba(237, 205, 126, 0.829);
    border-radius: 6px;
}





.conteudo-principal {
    display: flex;
}






.fundo-tabua-de-carne {
    background-image: url(imagens/fundo2.webp);
    /*border: 5px solid yellow;*/
    background-size: contain;
    margin: 95px;
    /*left: 0;
    top: 0;*/
    width: 42%; /* ocupa 40% da tela */
    height: 100vh; /* ocupa altura toda da página */
    object-fit: contain;
}









/* Ajuste de onde está o conteúdo principal da página 
main {
    display: flexbox;
    margin-left: 40%;  cria espaço para a imagem fixa 
    padding: 10px;
    width: 55%;
    margin-top: 20px;
    background-color: #2c1a13;
    border: 1px solid rgba(237, 205, 126, 0.829);
    border-radius: 10px;
} */


.container-historia-restaurante {
    display: flex;
    margin-left: 10px;
    width: 800px;
    padding: 50px 100px;
    /*border: 2px solid yellow;*/
}







/* Título do main - "Nossa História" em h1 */
.titulo-historia-restaurante {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(112, 26, 15);
    border-radius: 50px 10px 50px 10px;
    border: 1px solid rgba(237, 205, 126, 0.829);
}


/* Parágrafo da história do restaurante */
.descricao-historia-do-restaurante {
    text-align: justify;
    font-size: 25px;
    color: rgba(237, 205, 126, 0.829);
    background-color: #2c1a13a9;
    /*min-width: 10px;
    max-width: 800px;
    /*margin-top: 0px;*/
    padding: 20px;
}





/* Ajuste dos títulos h2 */
.titulos-cardapios {
    font-family: "Dancing Script", cursive;
    color: rgba(237, 205, 126, 0.829);
    background-color: rgba(112, 26, 15);
    border-radius: 20px 0 20px 0;
    border: 1px solid rgba(237, 205, 126, 0.829);
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    display: inline-block;
    padding: 10px 20px;
}















/* Container de cada prato */
.container-prato {
    text-align: justify;
    display: flex;
    align-items: center; /* centraliza verticalmente */
    gap: 10px; /* espaço entre a foto e o texto */
    margin: 24px 0;
    max-width: 800px;
}

/* Imagem dos pratos do cardápio */
.container-prato img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(237, 205, 126, 0.829);
    margin-top: 30px;
}

/* Edição dos nomes dos pratos em h3 */
.nome-pratos {
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    background-color: rgba(112, 26, 15);
    border-radius: 20px 0 20px 0;
    border: 1px solid rgba(237, 205, 126, 0.829);
    margin: 0 0 8px 0;
    font-size: 24px;
}

/* Edição da descrição dos pratos */
.descricao-dos-pratos {
    color: rgba(237, 205, 126, 0.829);
}

















/* Nome dos Chef's em h3 */
.nome-chef {
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 20px;
}

/* Biografia Chef 1 - Churrasco */
.biografia_chef {
    text-align: justify;
    color: rgba(237, 205, 126, 0.829);
    margin: auto;
    margin-top: 15px;
    min-width: 100px;
    max-width: 800px;
}

/* Edição imagem dos Chef's */
.imagem-chef {
    display: block;
    margin: 20px auto;
    margin-top: 5px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(237, 205, 126, 0.829);
}











/* Faz uma rolagem suave ao clicar nos links do menu */
html {
    scroll-behavior: smooth;
}






/* Nome dos campos para reserva */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bolder;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 25px;
}

/* Tamanho do campo onde será digitado as informações para reserva */
.campoDigito {
    min-width: 100px;
    max-width:200px;
}

/* Botão para realizar a reserva 
.botao {
    background-color: rgba(112, 26, 15);
    color: rgba(237, 205, 126, 0.829);
    border: 1px solid rgba(237, 205, 126, 0.829);
    border-radius: 10px;

    margin-right: 650px;
    margin-top: 10px;
}*/












.cor-texto-contatos {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(237, 205, 126, 0.829);
    margin: 6px;
}



.teste {
    border-radius: 50%;
    max-width: 300px;
    border: 3px solid rgba(237, 205, 126, 0.829);
}