@charset "UTF-8";


/* Zera margens padrão do navegador */
* {
    margin: 0px;
    padding: 0px;
}










/* Edição da cor de fundo do site */
body {
    background-color: #2c1a13;
}










/* Edição do cabeçalho */
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logotipo do restaurante */
header img {
    margin: auto;
    width: 250px;
    height: 250px;
}










/* Menu de Navegação */
nav {
    text-align: center;
    background-color: rgba(112, 26, 15);
    min-width: 100px;
    max-width: 800px;
    margin: auto;
    padding: 0px;
    border: 1px solid rgba(237, 205, 126, 0.829);
    border-radius: 27px;
}

/* Edição dos links do Menu de Navegação */
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px 22px; 
    text-decoration: none;
    color: rgba(237, 205, 126, 0.884);
    border: 0.1px solid transparent;
    transition: all 0.3s ease;
    display: inline-block;
    line-height: normal;
}

/* Faz um estilo ao passar o mouse no Menu de Navegação */
nav a:hover {
    background-color: #2c1a13;
    border: 0.1px solid;
    border-color: rgba(237, 205, 126, 0.884);
}










main {
    padding: 20px;
    min-width: 100px;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(39, 8, 8, 0.644);
}

/* Título do main - "Nossa História" */
.titulo-historia-restaurante {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 5px;
}

/* Parágrafo da história do restaurante */
main p {
    text-align: justify;
    font-size: 20px;
    color: rgba(237, 205, 126, 0.829);
    min-width: 100px;
    max-width: 800px;
    margin: 5px;
    margin-top: 20px;
}




.titulos-cardapios {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 20px;
}


.carne1_brisket {
    min-width: 100px;
    max-width: 500px;
    border: 3px solid rgba(237, 205, 126, 0.829);
}











/* Edição dos títulos do site (Linha de Churrascos e etc) */
article h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
    color: rgba(237, 205, 126, 0.829);
    margin-top: 10px;
    margin-bottom: 55px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}


/* Ajuste dos parágrafos dentro do Article */
article p {
    color: rgba(237, 205, 126, 0.829);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    font-size: 18px;
    text-align: justify;
}





/* Carne - Brisket - Edição das imagens */
article 


/* Churrasco - Ribbs - Edição das imagens */
article .churrasco2_ribs {
    height: 190px;
    width: 213px;
    margin-right: 40px;
}


/* Churrasco - Picanha - Edição das imagens */
article .churrasco3_picanha {
    height: 189px;
    width: 210px;
}







/* Hamburguer - Salada - Edição das imagens */
article .burguer1_salada {
    height: 193px;
    width: 215px;
    margin-left: 10px;
    margin-right: 40px;
}


/* Hamburguer - Bacon - Edição das imagens */
article .burguer2_bacon {
    height: 192px;
    width: 215px;
    margin-right: 40px;
}


/* Hamburguer - Chicken - Edição das imagens */
article .burguer3_chicken {
    height: 192px;
    width: 217px;
}








/* Chef 1 - Churrasco - Edição da imagem */
article .chef1_churrasco {
    height: 190px;
    width: 210px;
    text-align: center;
}

/* Biografia Chef 1 - Churrasco */
.biografia_chef1 {
    text-align: justify;
    margin-top: 3px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}





/* Chef 2 - Hamburguer - Edição da imagem */
article .chef2_hamburguer {
    height: 192px;
    width: 215px;
    text-align: center;
    margin-top: 30px;
}

/* Biografia Chef 2 - Hamburguer */
.biografia_chef2 {
    text-align: justify;
    margin-top: 3px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;    
}







/* Separador de Categorias */
article .separador {
    text-align: center;
    height: 100px;
    margin-top: 20px;
}







/* Faz uma rolagem suave ao clicar nos links do menu */
html {
    scroll-behavior: smooth;
}







.formulario {
    display: flex;
    max-width: 800px;
    margin-left: 260px;
    flex-direction: column;
    gap: 5px;
    font-weight: bolder;
    text-align: left;
    color: rgba(237, 205, 126, 0.829)
}

.campoDigito {
    max-width: 800px;
    margin-right: 500px;
}

.botao {
    margin-right: 700px;
}










.faleConosco {
    text-align: justify;
    margin-top: 3px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
